/*
 * CSS Calendar
 * Tim Wright
 * Chris Coyier
 -----------------------------*/

ol.calendar {
    width: 62em;
    margin: 0 auto;
    display: block;
    min-height: 200px;
    background: url(../images/tl.png) top left no-repeat;
    padding: 12px 0 0 20px;
}
li                  {list-style:none;}
p.link              {text-align:center;display: block;}
h1					{display: block; width: 200px;height:76px;
			         background:url(../images/july.png);text-indent:-9999px; margin: 15px auto; }

/*
 * Day styles
 -------------------------*/
li li {
    width: 8em;
    height: 6em;
    float: left;
    margin: .2em;
    padding: .2em;
    overflow: auto;
    background: url(../images/day-bg.png) bottom right no-repeat;
    border-style: none;
    outline: none;
}

.current {
    background: url(../images/day-bg-current.png) bottom right no-repeat;
}

/*
 * Day content (UL/OL & P)
 -------------------------*/
li li p             {font-size:.8em;display:block;}
li li ol            {width:auto;}
li li ul li,
li li ol li         {font-size:.8em;display:block;height:auto;width:auto; background: none;
					 margin:0;padding:.2em 0;float:none;}

/*
 * Holiday class
 -------------------------*/
li li.holiday       {  }

/*
 * Inactive months
 -------------------------*/
li#lastmonth li,
li#nextmonth li {
    width: 8em;
    height: 6em;
    float: left;
    margin: .2em;
    padding: .2em;
    overflow: auto;
    background: url(../images/day-bg-inactive.png) bottom right no-repeat;
}

/*
 * week
 -------------------------*/
li#thisweek li {
    width: 8em;
    height: 35em;
    float: left;
    margin: .2em;
    padding: .2em;
    overflow: auto;
    background: url(../images/day-bg-wd.png) top right no-repeat;
    background-size: cover;
}
li#thisweek li:first-child {
    background: url(../images/day-bg-wd.png) top right no-repeat;
    background-size: cover;
}
li#thisweek li:last-child {
    background: url(../images/day-bg-wd.png) top right no-repeat;
    background-size: cover;
}

/*
 * day
 -------------------------*/
li#thisday li {
    width: 30em;
    height: 35em;
    float: left;
    margin: .2em;
    padding: .2em;
    overflow: auto;
    background: url(../images/day-bg-wd.png) top right no-repeat;
    background-size: cover;
}
/*
 * day of week
 -------------------------*/
.dayofweek {
    width: 62em;
    margin: 0 auto;
    display: block;
    text-align:center;
    font-size:12pt;
    font-weight:400;
}
.dow {
    width: 8em;
    height:1em;
    float: left;
    margin-top: 0.7em;
    padding: .2em;
    overflow: auto;
    border-style: none;
    background:none;
    outline: none;
    overflow:hidden;
}
.mon, .tue, .wed, .thu, .fri {
}
.sun{
    color: #FC4F4F;
}
.sat {
    color: #3C6BFA;
}

